/* .header {
  background-color: #f8f9fa;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.header-navigation {
  display: flex;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-menu-item {
  margin-left: 20px;
}

.header-menu-item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.header-menu-item a:hover {
  color: #007bff;
}
 */
.custom-navbar {
  margin-left: 50px;
  background-color: #21252b;
  color: #21252b;
}

.header {
  background-color: #21252b;
  padding: 10px;
  margin-left: 50px;
  padding-left: 0px;
  z-index: -1;
}

.icons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-menu-item {
  margin-left: 20px;
}

.header-menu-item a {
  font-size: 14px;
  color: #abb2bf;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

.header-menu-item a:hover {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  color: #fff;
}
