@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  font-family: 'Ubuntu Mono', 'Roboto Mono', monospace;
  width: 100%;
  max-height: 2300px;
}

*,
::after,
::before {
  box-sizing: border-box;
  max-height: 2300px;
}

body {
  font-family: 'Ubuntu Mono', 'Roboto Mono', monospace;
  width: 100%;
}

.divider {
  width: 95%;
  height: 1px;
  background: hsl(220, 12.8%, 31%);
  margin-top: 18px;
  margin-bottom: 12px;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  background-color: #282c34;
  height: 100vh;
}

.sidebar {
  padding: 0;
  margin: 0;
  background-color: #282c34;
  width: 100px;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}

.navbar {
  width: 50px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.sidebar .custom-navbar2 {
  background-color: #333842; /* Set background color */
  margin: 0;
  display: block;
  margin-top: -70px;
  padding-top: 15px;
  height: 100%;
}

.custom-column {
  background-color: #282c34; /* Set background color */
  margin: 0;
  padding: 0;
  margin-top: 20px;
  z-index: 1;
}

.navbar-brand {
  font-weight: 700;
  color: #333;
  font-size: 18px;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.nav-item {
  margin-top: 10px;
}

.nav-link {
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

.col-lg-9 {
  padding: 20px;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #007bff;
} /* Tooltip container */

.navbar-brand {
  text-align: center;
}
